.container {
  display: grid;
  grid-template-columns: 250px auto; /* Increased width of the left panel */
  grid-template-rows: auto auto 1fr auto; /* Changed the height of bottom panel to take up remaining space */
  grid-template-areas:
    "left-panel top-panel"
    "left-panel main-content"
    "left-panel bottom-panel";
  max-height: 100vh;
  overflow: scroll;
  align-content: space-between;
  max-width: -webkit-fill-available;
}

.left-panel {
  grid-area: left-panel;
  background-color: #f0f0f0;
  padding: 20px;
  width: auto;
}

.top-panel {
  grid-area: top-panel;
  background-color: #e0e0e0;
  height: 5rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 1rem;
}

.main-content {
  grid-area: main-content;
  padding: 20px;
  /* min-height: 100vh; */
  overflow: scroll;
  margin-bottom: 6rem;

}

.bottom-panel {
  grid-area: bottom-panel;
  background-color: #e0e0e0;
  padding: 10px;
  height: 6rem;
  bottom: 0;
  position: fixed;
  width:100%;
  margin-left: 15.6rem;
  

}

/* .grid {
  display: inline-flex;
  justify-content: left;
} */
